<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>

  <body>
    <%- include("partials/payment") %> <%- include("partials/header") %>
    <!-- Start Landing Page -->
    <div class="banner" id="home">
      <div class="content">
        <div class="container">
          <div class="info">
            <h1>Gaming Products Right at Your Door!</h1>
            <p>
              Explore our wide range of gaming products, including consoles,
              accessories, and more. Upgrade your gaming experience today!
            </p>
            <a href="#shop" class="btn btn-banner">Shop Now</a>
          </div>
          <div class="image">
            <img src="./images/banner.png" alt="Gaming Products Banner" />
          </div>
        </div>
      </div>
    </div>

    <h1
      style="
        text-align: center;
        font-size: 3rem;
        color: antiquewhite;
        margin-bottom: 30px;
      "
    >
      Our Services Provides
    </h1>
    <div class="services">
      <div class="service">
        <i class="fas fa-truck"></i>
        <h3>Fast Delivery</h3>
      </div>
      <div class="service">
        <i class="fas fa-shopping-bag"></i>
        <h3>Quality Product</h3>
      </div>
      <div class="service">
        <i class="fas fa-headset"></i>
        <h3>Customer Support</h3>
      </div>
    </div>

    <h1
      style="
        text-align: center;
        font-size: 3.5rem;
        color: antiquewhite;
        margin-bottom: 30px;
      "
      id="shop"
    >
      Some Gaming Products
    </h1>
    <div class="slideDiv">
      <section class="slider slider2">
        <div class="cards">
          <% gamingProducts.forEach((product) => { %>
          <div class="card">
            <div class="card-content">
              <img src="<%= product.imageSrc %>" alt="" class="card-img" />
              <h1 class="card-title"><%= product.name %></h1>
              <div class="card-body">
                <div class="card-star">
                  <span class="rating-value"><%= product.rating %></span>
                  <span class="star">&#9733;</span>
                </div>
                <p class="card-price"><%= product.price %></p>
              </div>
              <div class="card-footer">
                <button
                  class="btn btn-success placeOrderBtn"
                  style="border: 1px solid #88882d"
                >
                  Buy Now
                </button>
                <button
                  class="btn btn-border"
                  data-id="<%= product.type.charAt(0) + '_' + product.id %>"
                ></button>
              </div>
            </div>
          </div>
          <% }); %>
        </div>

        <span class="arrow left">&#129120;</span>
        <span class="arrow right">&#129122;</span>
      </section>
    </div>

    <h1
      style="
        text-align: center;
        font-size: 3.5rem;
        color: antiquewhite;
        margin-top: 60px;
        margin-bottom: 30px;
      "
    >
      Other Available Products
    </h1>
    <div class="slideDiv">
      <section class="slider slider1">
        <div class="cards">
          <% otherProducts.forEach((product) => { %>
          <div class="card">
            <div class="card-content">
              <img src="<%= product.imageSrc %>" alt="" class="card-img" />
              <h1 class="card-title"><%= product.name %></h1>
              <div class="card-body">
                <div class="card-star">
                  <span class="rating-value"><%= product.rating %></span>
                  <span class="star">&#9733;</span>
                </div>
                <p class="card-price"><%= product.price %></p>
              </div>
              <div class="card-footer">
                <button
                  class="btn btn-success placeOrderBtn"
                  style="border: 1px solid #88882d"
                >
                  Buy Now
                </button>
                <button
                  class="btn btn-border"
                  data-id="<%= product.type.charAt(0) + '_' + product.id %>"
                ></button>
              </div>
            </div>
          </div>
          <% }); %>
        </div>

        <span class="arrow left">&#129120;</span>
        <span class="arrow right">&#129122;</span>
      </section>
    </div>

    <div class="newsletter">
      <h2>Get Up To $100 Off by subscribing to Newsletter!</h2>
      <div class="subscribe-container">
        <input
          type="text"
          name="email"
          id="email"
          placeholder="Enter your email"
        />
        <button>Subscribe</button>
      </div>
    </div>

    <footer>
      <div class="footer-content">
        <p>Copyright &copy; 2023 Game Store</p>
      </div>
    </footer>

    <script src="./main.js"></script>
  </body>
</html>
